/* CSS */

* {margin: 0px; padding: 0px; font-family: sans-serif;}

/* Logo */

div.logo
{
	display: flex;
	justify-content: center;
}
div.logo img
{
	display: block;
	max-height: 500px;
	max-width:  900px;
	width: 100%
}

/* Navigation */

nav
{
	overflow: hidden;
	background-color: #730202;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
}

nav ul
{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

nav li
{
	display: flex;
	align-items: center;
	list-style-type: none;
	height: 100%;
}

nav ul li a
{
	padding: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: arial;
	font-size: 26px;
	color: #730202;
	height: 100%;
	background-color: #C1D4D9;	
}

nav a:hover
{
	color: #C1D4D9;
	background-color: #730202;
	transition: 0.5s;
}

/* Main */

main
{
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:20px;
	background-color: #C1D4D9;
}

main header
{
	grid-column: span 3;
	text-align: center;
}

h2
{
	padding-bottom: 10px;
}

section
{
	background-color: #49590F;
	border-radius: 10%;
	padding: 7%;
	color: #C1D4D9;
}

/* Images */

div img
{
	display: none;
}

img.image-1[src*="1"], img.image-2[src*="4"], img.image-3[src*="7"]
{
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding-right: 10px;
	padding-bottom: 5px;
}

img.image-1[src*="1"], img.image-3[src*="7"]
{
	max-height: 150px;
	max-width: 225px;
}

img.image-2[src*="4"]
{
	max-height: 150px;
	max-width: 150px;
}

/* Footer */

footer
{
	height: 60px;
	background-color: #730202;
}